body {
  background-color: thistle;
  background-image: url("https://images.vexels.com/media/users/3/72728/raw/ffc5aa4077d85b59b9b216693e17bda7-beautiful-blue-xmas-background-with-snowflakes.jpg");
}

h2 {
color : #FFFFFF;
text-align: center;

}

