body {
  background-color: thistle;
  background-image: url("https://images.vexels.com/media/users/3/72728/raw/ffc5aa4077d85b59b9b216693e17bda7-beautiful-blue-xmas-background-with-snowflakes.jpg");
}

h2 {
color : #FFFFFF !important;
text-align: center;
}

#pagetitle {
background-color:  tomato;
text-align: center;
padding: 50px;
border: solid;
border-width: 5px;
margin: 20px;

}

.center{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;


}